* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: #2596be;
  color: white;
}

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}